
									</td>
									<td valign="top" align="center" width="15" height="15" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
								</tr>
							</tbody></table>
						</td> 
						<td valign="top" align="center" width="8" height="15" bgcolor="#ffffff"></td>
						<td valign="top" align="center" width="1" height="15" bgcolor="#e4e4e4"></td>
						<td valign="top" align="center" width="1" height="15" bgcolor="#ececec"></td>
						<td valign="top" align="center" width="1" height="15" bgcolor="#f2f2f2"></td>
						<td valign="top" align="center" width="1" height="15" bgcolor="#f6f6f6"></td>
					</tr>

				</tbody></table>

				<!--================== End of the section ================-->

				

				<!--==== BULLETPROOF PADDING SECTION WITH GIVEN BG COLOR ====-->
			     <table align="center" width="627" cellpadding="0" cellspacing="0" bgcolor="#f8f8f8" border="0">
					<tbody><tr>
						<td valign="top" align="center" width="1" height="10" bgcolor="#f6f6f6"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#f2f2f2"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#ececec"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#e4e4e4"></td>
						<td valign="top" align="center" width="8" height="10" bgcolor="#ffffff"></td>
						<td valign="top" align="center" width="603" height="10" bgcolor="#7b96d6">
							<table align="center" width="603" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0"> 
								<tbody><tr bgcolor="#ffffff">
									<td valign="top" align="center" width="15" height="10" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
									<td valign="top" align="center" width="573" height="10" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
									<td valign="top" align="center" width="15" height="10" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
								</tr>
							</tbody></table>
						</td> 
						<td valign="top" align="center" width="8" height="10" bgcolor="#ffffff"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#e4e4e4"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#ececec"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#f2f2f2"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#f6f6f6"></td>
					</tr>
				</tbody></table>


				<!--================== SEPERATOR LINE =================-->
				<table align="center" width="621" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f8f8">
					<tbody><tr>
						<td valign="top" align="center" width="621" height="1" bgcolor="#e8e8e8" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top" align="center" width="621" height="1" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
				</tbody></table>




				<!--================== End of the section ================-->
				<table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#025928">
					<tbody><tr>
						<!--========= 7 PIXELS THICK LINE WITH THE THEME COLOR ========-->
						<td valign="top" align="center" width="100%" height="30" bgcolor="#f8f8f8" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
						<!--========= 1 PIXELS THICK LINE WITH THE GIVEN COLOR ========-->
						<td valign="top" align="center" width="100%" height="1" bgcolor="#aaaaaa" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
						<!--========= 1 PIXELS THICK LINE WITH THE GIVEN COLOR ========-->
						<td valign="top" align="center" width="100%" height="1" bgcolor="#dddddd" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
						<!--========= 1 PIXELS THICK LINE WITH THE GIVEN COLOR ========-->
						<td valign="top" align="center" width="100%" height="1" bgcolor="#f0f0f0" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					</tbody>
				</table>

				</td>
				</tr>
				</tbody>
				</table>

				<!--================== End of the section ================-->
				<!--========================== COPYRIGHT SECTION ==== -->
				<table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#CFD8DC">
					<tbody><tr>
						<!--========= 7 PIXELS THICK LINE WITH THE THEME COLOR ========-->
						<td>				
				<table align="center" width="621" cellpadding="0" cellspacing="0" border="0" bgcolor="#CFD8DC">
					<tbody><tr>
						<td valign="top" align="center" width="621" height="20" bgcolor="#CFD8DC" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
				</tbody></table>
				<!--================== End of the section ================-->


				<table align="center" width="627" cellpadding="0" cellspacing="0" border="0" bgcolor="#CFD8DC">
					<tbody><tr>
						<!-- you may use a "<br/>" tag to be able to cut current line from anywhere you wish, as I did here -->
						<td valign="top" align="center" width="627" bgcolor="#CFD8DC">

						<span class="copyright" style="text-align:center;">
						<a style="color: #666666; text-decoration: none;" href="#" target="_blank"><%= I18n.t("mails.footer.subscribe") %></a>&nbsp;&nbsp; - &nbsp;&nbsp;<a style="color: #666666; text-decoration: none;" href="#" target="_blank"><%= I18n.t("mails.footer.stop") %></a>&nbsp;&nbsp; - &nbsp;&nbsp;<a style="color: #666666; text-decoration: none;" href="#" target="_blank"><%= I18n.t("mails.footer.resend") %></a></span>

						<br>&nbsp;</br>
						<br>&nbsp;</br>

						</td>				
					</tr>
				</tbody></table>
				<!--=== BULLETPROOF PADDING SECTION WITH GIVEN BG COLOR ===-->
				<table align="center" width="627" cellpadding="0" cellspacing="0" bgcolor="#CFD8DC" border="0">
					<tbody><tr>
						<td valign="top" align="center" width="627" height="20" bgcolor="#CFD8DC" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
				</tbody></table>
				<!--================== End of the section ================-->
				<!--==================================================================================================== End of the FOOTER ====-->
			</td>
		</tr>
	</tbody></table>



</div>