<div class="email-content" style="font-family: 'Source Sans Pro', sans-serif; color: #111; font-size: 14px; padding: 10px" >

<div class="email-body" style="" >
<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f8f8">
		<tbody><tr>
			<td valign="top" align="center" width="100%" bgcolor="#f8f8f8">
				<!--============================================================================================================ HEADER SECTION STARTS HERE=-->
				<table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#607D8B">
					<tbody><tr>
						<!--========= 7 PIXELS THICK LINE WITH THE THEME COLOR ========-->
						<td valign="top" align="center" width="100%" height="7" bgcolor="#607D8B" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
						<!--========= 1 PIXELS THICK LINE WITH THE GIVEN COLOR ========-->
						<td valign="top" align="center" width="100%" height="1" bgcolor="#aaaaaa" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
						<!--========= 1 PIXELS THICK LINE WITH THE GIVEN COLOR ========-->
						<td valign="top" align="center" width="100%" height="1" bgcolor="#dddddd" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
						<!--========= 1 PIXELS THICK LINE WITH THE GIVEN COLOR ========-->
						<td valign="top" align="center" width="100%" height="1" bgcolor="#f0f0f0" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
				</tbody></table>
				<!--==================== End of the section =================-->
				<!--==== BULLETPROOF PADDING SECTION WITH GIVEN BG COLOR ===-->
				<table align="center" width="621" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f8f8">
					<tbody><tr>
						<td valign="top" align="center" width="621" height="22" bgcolor="#f8f8f8" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
				</tbody></table>
				<!--================== End of the section ================--> 
				<table align="center" width="621" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f8f8">
					<tbody>
						<tr>
							<td valign="bottom" align="center" style="font-size:40px; color: #607D8B; font-weight:bold;" width="350" bgcolor="#f8f8f8" class="logoText"><%= I18n.t('mails.header.title') %></td>
						</tr>
						<tr>
							<td valign="bottom" align="center" width="350" style="font-size:20px; color: #607D8B; font-weight:italic;" height="10" bgcolor="#f8f8f8" class="logoTextSub"><%= I18n.t('mails.header.subtitle') %></td>
						</tr>
					</tbody>
				</table>  
				<!--=================== End of the section ================-->
				<!--==== BULLETPROOF PADDING SECTION WITH GIVEN BG COLOR ===-->
				<table align="center" width="621" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f8f8">
					<tbody><tr>
						<td valign="top" align="center" width="621" height="24" bgcolor="#f8f8f8" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
				</tbody></table>
				<!--================== End of the section ================--> 
				<!--================== SEPERATOR LINE =================-->
				<table align="center" width="621" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f8f8">
					<tbody><tr>
						<td valign="top" align="center" width="621" height="1" bgcolor="#e8e8e8" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top" align="center" width="621" height="1" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
					</tr>
				</tbody></table>
				<!--================== End of the section ================--> 

			    <!--=================  SECTION'S HEADER =================-->

			     <table align="center" width="627" cellpadding="0" cellspacing="0" bgcolor="#f8f8f8" border="0">
					<tbody><tr>
						<td valign="top" align="center" width="1" height="10" bgcolor="#f6f6f6"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#f2f2f2"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#ececec"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#e4e4e4"></td>
						<td valign="top" align="center" width="8" height="10" bgcolor="#ffffff"></td>
						<td valign="top" align="center" width="603" height="10" bgcolor="#7b96d6">
							<table align="center" width="603" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0"> 
								<tbody><tr bgcolor="#ffffff">
									<td valign="top" align="center" width="15" height="10" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
									<td valign="top" align="center" width="573" height="10" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
									<td valign="top" align="center" width="15" height="10" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
								</tr>
							</tbody></table>
						</td> 
						<td valign="top" align="center" width="8" height="10" bgcolor="#ffffff"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#e4e4e4"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#ececec"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#f2f2f2"></td>
						<td valign="top" align="center" width="1" height="10" bgcolor="#f6f6f6"></td>
					</tr>
				</tbody></table>





			     <table align="center" width="627" cellpadding="0" cellspacing="0" bgcolor="#f8f8f8" border="0">
					<tbody><tr>
						<td valign="top" align="center" width="1" height="15" bgcolor="#f6f6f6"></td>
						<td valign="top" align="center" width="1" height="15" bgcolor="#f2f2f2"></td>
						<td valign="top" align="center" width="1" height="15" bgcolor="#ececec"></td>
						<td valign="top" align="center" width="1" height="15" bgcolor="#e4e4e4"></td>
						<td valign="top" align="center" width="8" height="15" bgcolor="#ffffff"></td>
						<td valign="top" align="center" width="603" height="15" bgcolor="#ffffff">
							<table align="center" width="603" cellpadding="0" cellspacing="0" bgcolor="#ffffff" border="0"> 
								<tbody><tr bgcolor="#7b96d6">
									<td valign="top" align="center" width="15" height="15" bgcolor="#ffffff" style="font-size:0; line-height:0;">&nbsp;</td>
									<!--==== THIS IS YOUR HEADER, JUST ENTER YOUR TEXT (You may use a "br" tag to be able to cut current line from anywhere you wish ) ====--> 
									<td valign="top" align="left" width="573" height="15" bgcolor="#ffffff" class="sectionsHeaderTD">