%footer
  .footer_social
    .copy.col-sm-4.contFtr
      %p
        %strong=t('common.app_name')
        © copyright #{Time.now.year}. All rights reserved
    .other.col-sm-4.contFtr
      Desarollado por Antti Kulppi
    .social.col-sm-4.contFtr
      %ul
        %li.google
          %a{href: '#'}
        %li.facebook
          %a{href: '#'}
        %li.twitter
          %a{href: '#'}